*{
    margin: 0%;
    padding: 0%;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



  body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .about{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .abtos {
    width: 15%;
    display: flex;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow:         3px 3px 5px 6px #ccc;;
    
    border: 2px solid black;
  }
  @media (max-width:1140px){
    .abtos .mnu label{
      font-size: 20px;
      
    }
    
  }
  @media(max-width:900px){
    .abtos{
      width: 30%;
    }
  
  }
  @media(max-width:430px){
    .abtos{
      width: 70%;
    }
    .about{
      display: inline-block;
      margin-left: 30px;
    }
   
  }
  body {
    font-family: Rubik,Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #607289;
  }
  
  h5 {
      font-size: 1rem;
      line-height: 1.375;
      font-family: Rubik,Arial,sans-serif;
      font-weight: 500;
      color: #030929;
  }
  
  a {
    color: #818494;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  footer {
    background: #ebf4fa;
    margin-top: 30px;
   
  }
 .helooq{
  
   margin-top: 15px;
   width: 400px;
   height: 400px;
   padding:50px;
   font-size: 18px;
   box-shadow: 5px 10px 18px #888888;
}
 }
 .helooq li{
   list-style: none;
 }
 #alm{
   margin-top: 6px;
   font-size: 30px;
 }
 #changing{
  margin-top: 15px;
  width: 1000px;
  height: auto;
  margin-left: 10px;
  padding:50px;
  font-size: 18px;
  box-shadow: 5px 10px 18px #888888;
}
   
 .lkss{
   display: flex;
 }